extends layouts/base

block head
	title= "Studio Frisch Design — Brendinga un digitālā dizaina studija"

block content
	- var current = "Courses"

	include partials/nav

	header#header.reveal
		.container
			.wrap
				.image
					//- .blur

			.title.block-reveal
				.bottom-reveal: h1.wrap-reveal Brendinga un digitālā	
				.bottom-reveal: h1.wrap-reveal dizaina studija

	section#about
		.container
			.block-title.block-reveal
				.bottom-reveal: .tagline.wrap-reveal Made in Latvia
				.bottom-reveal: h2.wrap-reveal Dizains ar nozīmi.

			.description.block-reveal
				.left-reveal
					.wrap-reveal
						p Mēs ticam savam darbam. Veidojam unikālu dizainu, radām izcilus zīmolus un digitālos risinājumus, lepojoties ar padarīto. Ja jūs meklējat ilgtermiņa stratēģisko partneri zīmola radīšanā, uzturēšanā un digitālo produktu veidošanā, mēs varam jūs atbalstīt katrā solī.

	section#process
		.container
			.block-reveal
				.step.right-reveal
					.wrap-reveal
						h3 Vizuālā identitāte
						span 01
						p Kopā ar klientiem atklājam zīmola pamatvērtības, lai izveidotu perfekti piemērotus risinājumus. Mēs palīdzam tālredzīgiem zīmoliem definēt dizaina mērķus, kas stiprina attiecības ar klientiem.
						ul
							li Zīmola izpēte
							li Logo
							li Vizuālā identitāte
							li Iepakojuma dizains
							li Zīmju dizains
							li Zīmola komunikācija
							li Copywrite

				.step.right-reveal
					.wrap-reveal
						h3 Digitālais dizains
						span 02
						p Piedāvājam visus nepieciešamos rīkus, lai uzlabotu kontaktu starp lietotāju un digitālo vidi. Mēs zinām, ka ir nepieciešams pieradināt milzīgo informācijas daudzumu un izveidot inteliģentus, interaktīvus un intuitīvus risinājumus. 
						ul
							li Wireframing
							li Web dizains
							li Digitālo produktu dizains
							li UX
							li Sociālie tīkli

				.step.right-reveal
					.wrap-reveal
						h3 Izstrāde
						span 03
						p Mūsu komanda, kurā apvienojušies pieredzējuši jomas speciālisti ar daudzu projektu pieredzi un vairāku programmēšanu valodu zināšanām, ir mūsu studijas mugurkauls, kas nodrošina plašu ideju arsenālu jebkuram izaicinājumam.
						ul
							li Front-end
							li Back-end
							li Mobilo lietotņu izstrāde
							li E-komercija
							li SEO
							li Testēšana
							li Uzturēšana

	section#clients
		.container
			.wrap
				.block-title.block-reveal
					.bottom-reveal: .tagline.wrap-reveal Prieks kopā strādāt
					.bottom-reveal: h2.wrap-reveal Klienti

				.clients.block-reveal
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/lattelecom.svg						
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/rimi.svg	
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/dove.svg			
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/riga-black-balsam.svg
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/unilever.svg
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/nordea.svg
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/balta.svg
					.client.fade-reveal
						.wrap-reveal: include ../svg/clients/dpa.svg

	section#contact
		.container
			.float
				.block-title.block-reveal
					.bottom-reveal: h2.wrap-reveal Sazināties ar mums

				.block-title.block-reveal
					ul
						li.bottom-reveal
							span.wrap-reveal TEL
							a(href="tel:+37126005799").wrap-reveal +371 26005799
						li.bottom-reveal
							span.wrap-reveal E PASTS
							a(href="mailto:makeme@frisch.com").wrap-reveal makeme@frisch.com

			.logo
				include ../svg/logo.svg


	//- include partials/footer