doctype html
html
	head
		meta(charset="utf-8" translate="no")
		meta(name="viewport", content="width=device-width, initial-scale=1", translate="no")

		//- base
		base(href="/")

		//- share tags
		meta(property="og:title", content="Studio Frisch Design")
		meta(property="og:type", content="website" translate="no")
		meta(property="og:image", content="/img/logo-facebook.png" translate="no")
		meta(property="og:url", content="http://studiofrisch.com" translate="no")
		meta(property="og:description", content="Vizuālā identitāte, digitālais dizains un izstrāde. Veidojam unikālu dizainu, radām izcilus zīmolus un digitālos risinājumus, lepojoties ar padarīto.")
		meta(property="og:site_name", content="Studio Frisch Design")

		//- twitter
		meta(name="twitter:card", content="summary" translate="no")
		meta(name="twitter:title", content="Studio Frisch Design")
		meta(name="twitter:description", content="Vizuālā identitāte, digitālais dizains un izstrāde. Veidojam unikālu dizainu, radām izcilus zīmolus un digitālos risinājumus, lepojoties ar padarīto.")
		meta(name="twitter:image", content="/img/logo-facebook.png", translate="no")

		//- pinterest
		meta(name="p:domain_verify", content="1a3e18685a5d94d60f6f25b315e69809", translate="no")

		//- yes, this all is for a favicon
		link(rel="apple-touch-icon", sizes="180x180", href="/img/favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon/favicon-16x16.png")
		link(rel="manifest", href="/img/favicon/manifest.json")
		link(rel="mask-icon", href="/img/favicon/safari-pinned-tab.svg", color="#000000")
		link(rel="shortcut icon", href="/img/favicon/favicon.ico")
		meta(name="msapplication-config", content="/img/favicon/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")

		link(href="https://use.typekit.net/hbp3kih.css", rel="stylesheet")
		link(href="/css/style.css", rel="stylesheet")

		//- page description
		meta(name="description", content="Vizuālā identitāte, digitālais dizains un izstrāde. Veidojam unikālu dizainu, radām izcilus zīmolus un digitālos risinājumus, lepojoties ar padarīto.")
		meta(name="keywords", content="dizains, digitālais dizains, zīmola izpēte, logo, vizuālā identitāte, iepakojuma dizains, zīmju dizains, zīmola komunikācija, copywrite, wireframing, web dizains, digitālo produktu dizains, UX, sociālie tīkli, mājas lapas, front-end, back-end, mobilo lietotņu izstrāde, e-komercija, SEO, testēšana, uzturēšana, programmēšana")
		
		block head
			title Studio Frisch Design – Branding and digital design studio

	body.preload
		#grid
			.container
				div
				div
				div
				div
				div
				div

		#wrapper
			block content
			

		script(type="application/ld+json").
			{
				"@context" : "http://schema.org",
				"@type" : "Organization",
				"name" : "Studio Frisch Design",
				"url" : "http://studiofrisch.com",
				"sameAs" : [
					"https://www.facebook.com/studiofrisch",
					"https://github.com/studiofrisch"
				]
			}
		script(src="/js/main.js")
		script.
			window.fbAsyncInit = function() {
				FB.init({
					appId: '534205980120566',
					xfbml: true,
					version: 'v2.7'
				});
			};

			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-80904812-1', 'auto');
			ga('send', 'pageview');

