// --------------------------------------------
// colors

$base : #ffffff;
$base-text : #000000;
$base-header : #000000;

// main colors
$primary : #000000;
$secondary : #aeb4b6;

$pink: #f2dad7;

// base text
$grey : #272424;
$footer : #21252b;