// --------------------------------------------
// nav
nav#nav {
	svg {
		display: block;
	}
}
	

// --------------------------------------------
// header
header#header {
	padding: 0 0 75px 0;
	width: 100%;
	height: 100%;
	background: #000;

	.container {
		position: relative;
	}

	.down {
		position: absolute;
		left: 50%;
		bottom: 85px;
		transform: translate(-50%, 0);
		z-index: 100;
		display: block;
		transition: opacity 3s;
		animation: 1s scrollDown infinite;

		svg {
			fill: #fff;
		}
	}

	.slider {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		li {
			float: left;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;			 
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			opacity: 0;
			visibility: hidden;
			transition: 
				opacity 0.4s ease,
				visibility 0.4s ease;

			&:nth-child(0) {background-image: url("/img/work/corebook-macbook.jpg");}
			&:nth-child(1) {background-image: url("/img/work/corebook.jpg");}
			&:nth-child(2) {background-image: url("/img/work/envestio.jpg");}
			&:nth-child(3) {background-image: url("/img/work/kms.jpg");}
			&:nth-child(4) {background-image: url("/img/work/mobilly.jpg");}
			&:nth-child(5) {background-image: url("/img/work/nest.jpg");}

			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.logo-title {
		position: absolute;
		left: 12px;
		bottom: 24px;
		float: left;

		a {
			color: #fff;
		}
	}

	.contact {
		position: absolute;
		right: 12px;
		bottom: 24px;

		li {
			float: none;
			
			a {
				margin-left: 50px;
				float: right;
				color: #fff;
			}
		}		
	}

	.social-links {
		position: absolute;
		right: 12px;
		top: 24px;

		li {
			float: none;	

			a {
				margin-left: 50px;
				color: #fff;
			}
		}		
	}

	.logo {
		position: absolute;
		top: 24px;
		left: 20px;

		svg {
			width: 40px;
			height: 40px;
		}
	}

	.title {
		position: absolute;
		top: 60px;
		left: 0px;
		width: 100%;
		padding: 0 20px;

		h1 {
			color: #fff;
			width: 100%;
			font-weight: 400;
			margin: 0 auto;			
			text-align: center;
			font-size: 34px;
			line-height: 45px;

			span {
				width: 100%;
				// transition-delay: 0.5s;
			}
		}
	}

	// ---------------------- tablet meiaq
	@include media($tablet) {
		.logo {
			left: 55px;
			top: 60px;

			svg {
				width: auto;
				height: auto;
			}
		}

		.social-links {
			right: 55px;
			top: 65px;

			li {
				float: left;
			}
		}

		.contact {
			right: 55px;
			bottom: 45px;

			li {
				float: left;
			}		
		}

		.logo-title {
			left: 55px;
			bottom: 45px;
		}

		.down {
			bottom: 45px;
		}
	}
} 


// --------------------------------------------
// logo
#logo {	
	width: 100%;
	max-width: 80px;
	height: auto;
	margin: 20px auto;
	display: block;
}
