// --------------------------------------------
// nav
nav#nav {
	svg {
		display: block;
	}
}
	

// --------------------------------------------
// header
header#header {
	padding: 0 0 75px 0;

	.container {
		position: relative;
	}

	.scroll {
		width: 9px;
		height: 9px;
		border-radius: 4px;
		background: #fff;
		position: fixed;
		bottom: 40px;
		left: 50%;
		margin-left: -4px;
		display: block;
		z-index: 100;
		animation: 1s fadeinHeader infinite;
		transition: opacity 3s;

		.scrolling & {
			display: none;
		}
	}

	.wrap {
		margin: 0;
		width: auto;
		overflow: hidden;
		background-color: #f3f3f3;
	}

	.image {
		display: block;
		width: auto;
		height: 550px;
		margin: 0 -620px;	
		
		background-image: url("/img/bg.jpg");
		background-repeat: no-repeat;
		background-position: center 00px;
		background-size: cover;		
		overflow: hidden;
		position: relative;
		opacity: 0;
		transition: opacity 1s;

		.loaded & {
			opacity: 1;
		}
	}

	.title {
		position: absolute;
		top: 60px;
		left: 0px;
		width: 100%;
		padding: 0 20px;

		h1 {
			color: #fff;
			width: 100%;
			font-weight: 300;
			margin: 0 auto;			
			text-align: center;
			font-size: 34px;
			line-height: 45px;

			span {
				width: 100%;
				// transition-delay: 0.5s;
			}
		}
	}

	@media screen and (min-height: 620px) {
		.scroll {
			position: absolute;
		}
	}

	// ---------------------- phone meiaq
	@include media($phone) {
		.image {
			height: 590px;
			margin: -20px -860px;
		}

		.title {
			top: 80px;

			h1 {
				font-size: 38px;
				line-height: 50px;
			}
		}
	}
	// ---------------------- tablet meiaq
	@include media($tablet) {
		.image {
			margin: -20px -660px;
		}
	}
	// ---------------------- desktop meiaq
	@include media($desktop) {
		.image {
			margin: -20px -420px;
		}
		.wrap {
			margin: 0 -80px;
		}
	}
} 


// --------------------------------------------
// logo
#logo {	
	width: 100%;
	max-width: 80px;
	height: auto;
	margin: 20px auto;
	display: block;
}


// --------------------------------------------
// footer
footer#footer {
	background: #111111;
	color: #565656;
	padding: 80px 0;
	width: 100%;

	p {
		font-size: 14px;
		color: #565656;
	}

	a {
		color: #c9c9c9;
	}

	.credit {
		float: left;
		width: 100%;

		p {
			margin: 0 0 2px 0;
			text-align: center;
		}

		a {
			clear: both;
			float: left;
			width: 100%;
			text-align: center;
			font-size: 14px;
			margin: 0 0 20px 0;
		}

		.devchampions {
			margin: 0 0 40px 0;
			display: block;
			float: right;

			img {
				width: 100%;
				max-width: 134px;
				margin: 0 auto;
				opacity: 0.7;
			}
		}
	}

	.social {
		float: left;
	}

	.copy {
		float: left;

		#share-this-mobile {
			padding: 0;
		}
	}


	// ---------------------- phone meiaq
	@include media($phone) {
	}
	// ---------------------- tablet meiaq
	@include media($tablet) {
	}
	// ---------------------- desktop meiaq
	@include media($desktop) {
	}
}
