// --------------------------------------------
// fonts


@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/brandon-grotesque-bold.eot');
    src: url('/fonts/brandon-grotesque-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon-grotesque-bold.woff') format('woff'),
         url('/fonts/brandon-grotesque-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
    src: url('/fonts/brandon-grotesque-medium.eot');
    src: url('/fonts/brandon-grotesque-medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon-grotesque-medium.woff') format('woff'),
         url('/fonts/brandon-grotesque-medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/brandon-grotesque-light.eot');
    src: url('/fonts/brandon-grotesque-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon-grotesque-light.woff') format('woff'),
         url('/fonts/brandon-grotesque-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


$primary-font: "Brandon Grotesque", Arial, sans-serif;
$secondary-font: "clarendon-wide", serif;
